# この下に kifuwarabe-uec17 でリポジトリにコミットしないものを追加する
# ---------------------------------------------------------------

# [O6o0]
go.work
go.work.sum

# [O11o__10o2o_1o0]
*.log

# [O11o__11o1o0]
*.input.txt

# [O12o__11o__10o5o_1o0]
*_temp.json

# この上に kifuwarabe-uec17 でリポジトリにコミットしないものを追加する
# ---------------------------------------------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
